body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: rgb(18, 18, 62);
    width: 100vw;
}
.logo{
    margin-left: 2vh;
    border-radius: 50%;
    height:7vh;
}
.heading .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
}
.heading .nav a:hover {
   font-size: 2.5vh;
   background-color: white;
   color: rgb(0, 0, 33);
   display: flex;
   align-items: center;
   height: 4vh;
   border-radius: 20px;
   padding-left: 2vh;
   padding-right: 2vh;
   margin-right: 1em;
}
.nav a {
    padding-left: 2vh;
    padding-right: 2vh;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 4vh;
    border-radius: 20px;
    margin-right: 2vh;
    transition-property: background-color;
    transition-duration: 0.6s;
}
  
  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  section {
    margin: 20px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    height: 6vh;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #complaintsList {
    list-style-type: none;
    padding: 0;
  }
  
  .complaint-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
  }
  #complaintForm{
    width: 30vw;
    margin: auto;
  }
  .imp{
    height: 2vh;
  }
  
  